<!DOCTYPE html>
<html>
<head>
	<title>Doctor Dashboard</title>
</head>
<body>
	Youv'e logged in!
<table>
	<tr>
		<td ><form action="/logout"><input type="submit" name="submit"></form></td>
	</tr>
</table>
</body>
</html>