<!DOCTYPE html>
<html>
<head>
        <title>Doctor Login</title>
</head>
<body>
        <p>Hey there Login as doc</p>
        <table border="1">
        	<form method="post" action="/doctorpage">
        		<tr>
        			<td>Username:</td>
        			<td><input type="text" name="uname"></td>
        			
        		</tr>
        		<tr>
        			<td>DocID(Pwd):</td>
        			<td><input type="password" name="docid"></td>
        		</tr>
        		<tr>
        			<td><input type="submit" name="submit"></td>
        		</tr>
        	</form>
        </table>
</body>
</html>

